div.container, div.container-fluid {
    margin-top: 20px;
}

.adTitle {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.adTitle h1, .adTitle p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.ad-title .btn {
    margin-top:2em;
    font-size:1.5em;
    line-height:1.5em;
}
div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

/*CSS de l'avatar*/
.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%
}
.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 28px;
    max-height: 28px;
}

.avatar-micro{
    max-height: 30px;
    max-width: 30px;
}
/*format date*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: firebrick !important;
}
/*couleur des étoiles des annonces*/
span.rating i{
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color:#fff;
}